.burgerMenu {
    display: none;
    position: relative;
  }
  
  .burgerIcon {
    width: 30px;
    height: 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
  }
  
  .bar {
    content: url(../public/icons/Menu.svg);
    width: 40px;
    transition: all 0.3s;
  }
  
  .open {
    transform: rotate(-90deg);
  }
  
  .menu {
    position: fixed; /* Позиционируем меню относительно окна браузера */
    top: 0;
    left: 0;
    width: 100%; /* Занимаем всю ширину экрана */
    height: 100%; /* Занимаем всю высоту экрана */
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0; /* Убираем скругление углов, чтобы меню было на весь экран */
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.3s;
    display: flex; /* Добавим flex для вертикального центрирования элементов меню */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .openMenu {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
  }

  .link {
    color: #000;
    text-decoration: none;
    font-size: 28px;
    font-weight: 500;
  }

  @media screen and (min-width: 300px) and (max-width: 1023px) {
    .burgerMenu {
        display: block;
    }
  }