@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap");
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Variable.woff2") format("woff2"), url("../fonts/ClashDisplay-Variable.woff") format("woff"), url("../fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Extralight.woff2") format("woff2"), url("../fonts/ClashDisplay-Extralight.woff") format("woff"), url("../fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Light.woff2") format("woff2"), url("../fonts/ClashDisplay-Light.woff") format("woff"), url("../fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Regular.woff2") format("woff2"), url("../fonts/ClashDisplay-Regular.woff") format("woff"), url("../fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2"), url("../fonts/ClashDisplay-Medium.woff") format("woff"), url("../fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("../fonts/ClashDisplay-Semibold.woff") format("woff"), url("../fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay-Bold.woff") format("woff"), url("../fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  font-family: "ClashDisplay";
  font-size: 24px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.main-page {
  max-width: 1280px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.podcasts {
  padding-top: 70px;
  padding-bottom: 50px;
}

.about h2 {
  padding-top: 70px;
  padding-bottom: 50px;
  text-align: center;
}

.podcast-card {
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.43);
  border-radius: 15px;
}

.nav a {
  font-size: 18px;
}
.nav a.active {
  font-weight: 800;
  font-size: 26px;
}

.podcasts-wrapper {
  display: flex;
  padding-top: 50px;
  row-gap: 50px;
}

.podcast-card-title {
  position: absolute;
  margin-top: 201px;
  margin-left: 11px;
  background: black;
  color: white;
  border-radius: 15px;
  padding: 4px;
}

.about-text {
  max-width: 600px;
  font-size: 30px;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  flex-wrap: wrap;
  padding-top: 80px;
}

.about-image {
  border: 2px solid black;
}

.hero-title {
  position: absolute;
  bottom: 25px;
  z-index: 1;
  left: 35px;
  padding: 10px;
  background: rgb(0, 0, 0);
  color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.43);
}
.hero-title p {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.swiper {
  max-width: 1280px;
  max-height: 697px;
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.43);
  border-radius: 15px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-title-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}
.hero-title-wrapper p {
  font-size: 18px;
  font-weight: 500;
}

.product-list {
  display: flex;
  max-width: 1280px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  row-gap: 35px;
}

.album-image {
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.43);
}

.albums-wrapper {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
}

.album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.podcasts-wrapper {
  max-width: 1280px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.swiper-button-prev {
  width: 70px;
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M20 11H7.83l5.59-5.59L12 4l-8 8l8 8l1.41-1.41L7.83 13H20v-2z"%2F%3E%3C%2Fsvg%3E');
}

.swiper-button-next {
  width: 70px;
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M20 11H7.83l5.59-5.59L12 4l-8 8l8 8l1.41-1.41L7.83 13H20v-2z"%2F%3E%3C%2Fsvg%3E');
  transform: rotate(180deg);
}

.album-name {
  font-weight: 600;
  font-size: 26px;
}

.artist-name {
  font-size: 20px;
}

.podcast-artist {
  font-weight: 600;
  font-size: 27px;
}

.podcast-page {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.podcast-image-page {
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.43);
  border-radius: 15px;
}

#soundcloud {
  width: 375px;
}

.russian {
  font-family: "Courier New", Courier, monospace;
}

.podcast-review {
  width: 280px;
  text-align: center;
  background: black;
  border-radius: 25px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 18px;
}

.podcast-title-page {
  padding-top: 25px;
}

.podcast-page-main-title {
  font-size: 43px;
  padding-bottom: 25px;
}

.podcast-album-page {
  font-size: 35px;
}

.album-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding-top: 30px;
  flex-wrap: wrap;
}

.album-review {
  max-width: 600px;
  padding: 15px;
  background: black;
  color: white;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: Montserrat;
}

.album-image-page {
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.43);
}

.album-album-page {
  font-size: 40px;
  font-weight: 500;
  padding-top: 5px;
}

.image-container {
  width: 100%;
}
.image-container > div {
  position: unset !important;
}

#inner-links {
  flex-direction: column;
  align-items: center;
}

#px1280 {
  display: none;
}

#px1024 {
  display: none;
}

#px800 {
  display: none;
}

#px600 {
  display: none;
}

#px300 {
  display: none;
}

.links-wrapper {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 50px;
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .main-page, .podcasts-wrapper, .albums-wrapper, .header, .about-wrapper {
    max-width: 1100px;
  }
  .podcast-card {
    width: 300px;
    height: 300px;
  }
  #px1440 {
    display: none;
  }
  #px1280 {
    display: block;
  }
  #px600 {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .main-page, .podcasts-wrapper, .albums-wrapper, .header, .about-wrapper {
    max-width: 950px;
  }
  .about-text {
    width: 450px;
  }
  #px1440 {
    display: none;
  }
  #px1280 {
    display: none;
  }
  #px1024 {
    display: block;
  }
  #px800 {
    display: none;
  }
  #px600 {
    display: none;
  }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
  .main-page, .podcasts-wrapper, .albums-wrapper, .header, .about-wrapper {
    max-width: 700px;
  }
  .about-text {
    width: 450px;
  }
  #px1440 {
    display: none;
  }
  #px1280 {
    display: none;
  }
  #px1024 {
    display: none;
  }
  #px800 {
    display: block;
  }
  #px600 {
    display: none;
  }
  .product-list {
    justify-content: center;
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
  .about-wrapper {
    justify-content: center;
    gap: 50px;
    padding-top: 35px;
  }
  .about-text {
    text-align: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
  .main-page, .podcasts-wrapper, .albums-wrapper, .header, .about-wrapper {
    max-width: 500px;
  }
  .about-text {
    width: 350px;
  }
  #px1440 {
    display: none;
  }
  #px1280 {
    display: none;
  }
  #px1024 {
    display: none;
  }
  #px800 {
    display: none;
  }
  #px600 {
    display: block;
  }
  .hero-title p {
    font-size: 22px;
  }
  .product-list {
    justify-content: center;
  }
  .podcasts h2 {
    text-align: center;
  }
  .about-wrapper {
    justify-content: center;
    gap: 50px;
  }
  .about-text {
    text-align: center;
  }
  .album-review {
    max-width: 500px;
  }
  .album-title-page {
    text-align: center;
  }
  .album-album-page {
    text-align: center;
  }
  .album-page {
    gap: 20px;
  }
  .album-review {
    text-align: center;
  }
  .podcasts-wrapper {
    justify-content: center;
  }
  .albums-wrapper {
    justify-content: center;
  }
}
@media screen and (min-width: 300px) and (max-width: 599px) {
  .main-page, .podcasts-wrapper, .albums-wrapper, .header, .about-wrapper {
    max-width: 280px;
  }
  .about-text {
    width: 350px;
  }
  #px1440 {
    display: none;
  }
  #px1280 {
    display: none;
  }
  #px1024 {
    display: none;
  }
  #px800 {
    display: none;
  }
  #px600 {
    display: none;
  }
  #px300 {
    display: block;
  }
  .hero-title p {
    font-size: 22px;
  }
  .product-list {
    justify-content: center;
  }
  .podcasts h2 {
    text-align: center;
  }
  .about-wrapper {
    justify-content: center;
    gap: 50px;
  }
  .about-text {
    text-align: center;
  }
  .links-wrapper {
    align-items: center;
    flex-direction: column;
  }
  .hero-title {
    left: 0;
    bottom: -5px;
    width: 260px;
  }
  .hero-title p {
    font-size: 18px;
  }
  .about-wrapper {
    padding-top: 35px;
  }
  .podcasts h2 {
    font-size: 30px;
  }
  .about h2 {
    font-size: 30px;
  }
  .about-text {
    font-size: 24px;
  }
  .album-review {
    max-width: 250px;
    text-align: center;
    margin: auto;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .album-title-page, .album-album-page {
    text-align: center;
  }
  .album-album-page {
    font-size: 28px;
    padding-bottom: 25px;
  }
  .album-title-page {
    font-size: 25px;
  }
}